.background {
  viewport-fill: black;
}

.time {
  font-size: 80;
  font-family: Colfax-Black;
  text-length: 32;
  text-anchor: middle;
  x: 60%;
  y: 70%+40;
  fill: #f0f0f0;
}

.time-shadow {
  x: 60%-6;
  y: 70%+34;
  fill: #808080;
}
